.movingBtnTopLeft {
  position: absolute;
  top: 10%;
  left: 15%;
}

.movingBtnBottomRight {
  position: absolute;
  top: 90%;
  left: 90%;
}

.rotated {
  transform: rotate(3240deg);
  transition: all 4s ease-in-out;
}
.rotated1 {
  transform: rotate(3240deg);
  transition: all 4s ease-in-out;
}

input {
  margin-bottom: 20px;
}

.name {
  color: red;
  font-size: 100px;
  text-align: center;
}
